/*
    style.css   v 1.1   Zombicide
    v 1.1   2019-02-15  Anderson E A Rodrigues - andersonelielrodrigues@gmail.com
                        Vinicius Minotti - viniminotti@hotmail.com
    v 1.0   2019-02-06
*/
body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-image: url("../img/bg.jpg");
}

a:hover {
    text-decoration: none;
}

#controls {
    width: 100%;
    height: 28%;
}

.menu_buttons {
    color: #e3dec2;
    text-shadow: 1px 1px 2px #5d1c19;
}

#table {
    width: 100%;
}

#missions {
    margin-top: 160px;
    margin-left: 10px;
}

.mission_title {
    font-family: LandSpeedRecord;
    font-size: 32px;
    color: #fba61c;
    text-shadow: 1px 1px 3px #000;
}

.mission_bold {
    font-weight: bold;
}

.mission_desc {
    text-align: justify;
    text-justify: inter-word;
    display: block;
}

.mission_subtitle {
    font-family: LandSpeedRecord;
    font-size: 28px;
    color: #999;
}
